/* src/components/Map.css */
.map-wrap {
  position: relative;
  width: 100%;
  height: 400px; /* Altura del mapa */
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #4a627a;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-error {
  background-color: #e74c3c;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
